/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
}
.result {
  text-align: center;
  font-family: monospace;
  font-size: x-large;
  margin-bottom: 5em;
}

.buttons {
  text-align: center;
  margin-top: 2em;
  display: flex;
  margin-left: 600px;
  font-size: 50px;
}

.inputs {
  text-align: center;
  font-family: monospace;
  font-size:  50px;
}

.inp1 {
  display: inline;
  margin: 1em;
}

.inp2 {
  display: inline;
  margin: 1em;
}

#text1 {
  font-family: monospace;
  font-size: 50px;
  height: 100px;
}
#text2 {
  font-family: monospace;
  font-size: 50px;
  height: 100px;
}

#add {
  width: 200px;
  display: inline-block;
  height: 100px;
  background-color: rgb(163, 228, 228);
  border-radius: 15px;
  font-family: monospace;
  font-size:  50px;
}
#subtract {
  width: 200px;
  display: inline-block;
  height: 100px;
  background-color: rgb(163, 228, 228);
  border-radius: 15px;
  font-family: monospace;
  font-size:  50px;
}
#divide {
  width: 200px;
  height: 100px;
  background-color: rgb(163, 228, 228);
  border-radius: 15px;
  font-family: monospace;
  font-size:  50px;
  margin-left: 329px;
}
#multiply {
  width: 200px;
  height: 100px;
  background-color: rgb(163, 228, 228);
  border-radius: 15px;
  font-family: monospace;
  font-size:  50px;
  margin-left: 329px;
}
#equal{
  width: 200px;
  height: 100px;
  background-color: rgb(163, 228, 228);
  border-radius: 15px;
  font-family: monospace;
  font-size:  50px;
  margin-left: -200px;
}